<h1>Listing Banner Ads</h1>

<table>
  <tr>
    <th>Ad Id</th>
  </tr>

<% @bads.each do |bad| %>
  <tr>
    <td><%=h bad.ad_id %></td>
    <td><img src="banner_ads/<%= bad.ad_id %>.iframe">
</td>
  </tr>
<% end %>
</table>

<br />
