<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Simple Adserver | Home</title>
  </head>
  <body>
    <p>
      This is the home page for the Simple Adserver by Michel Brode
    </p>
    <h1>Sample Ad</h1>
    <p>
      Here is a sample ad that demonstrates the Simple Adserver
    </p>
    <iframe src="http://localhost:3000/banner_ads/20899.iframe" class="aa-if if-20899" width="140" height="350" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#ffffff">
    </iframe>
    <div class="container">
      .
      .
      .
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
